body{
    margin: 0 auto;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
a{
    color: $dark-color;
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 39px;
    color: $dark-color;
    opacity: 60%;
}
