@import 'variables';
.feedback{
    &__content{
        padding: 77px 100px 166px 100px;
    }
    &__head{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-family: $font-integral-heavy;
        font-size: 48px;
        margin: 0;
    }
    &__nav{
        display: flex;
        gap: 16px;
        align-items: end;
        &-left{
        transform: rotate(180deg);
        transform-origin: center;
        width: 24px;
        height: 24px;
        }
        &-right{
            width: 24px;
            height: 24px;
        }
    }
    &__list{
        padding-top: 40px;
        display: flex;
        gap: 23px;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    &__comment{
        border: 1px solid $dark-color-op;
        border-radius: 20px;
        padding: 28px 32px;
        flex: 0 0 calc(100% / 3); 
        box-sizing: border-box;
    }
    &__option{
        display: flex;
        justify-content: space-between;
    }
    &__rate{
        width: 138px;
        &--new{
            max-width: 98px;
        }
    }
    &__account{
        display: flex;
        padding: 11px 0 12px;
        gap: 8px;
        align-items: center;
    }
    &__check{
        height: 19.5px;
        width: 19.5px;
    }
    &__name{
        font-family: $font-satoshi;
        font-size: 20px;
        margin: 0;
    }
    &__text{
        font-family: $font-satoshi;
        font-size: 16px;
        margin: 0;
        line-height: 21.5px;
        opacity: 60%;
    }
    &__date{
        font-family: $font-satoshi;
        font-size: 16px;
        margin: 0;
        opacity: 60%;
        padding-top: 24px;
    }
}
@media (max-width:1024px){
    .feedback{
        &__head{
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
        &__title{
            text-align: center;
        }
    }
}
@media (max-width:768px){
    .feedback{
        &__content{
            padding: 50px 50px 166px;
        }
        &__title{
            font-size: 40px;
        }
    }
}
@media (max-width:375px){
    .feedback{
        &__title{
            font-size: 32px;
        }
    }
}
