@import 'variables';
.subscribe{
    &__content{
        padding: 34px 64px;
        margin: -90px 100px;
        position: relative;
        z-index: 2;
        background-color: $dark-color;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        align-items: center;
    }
    &__title{
        font-size: 40px;
        font-family: $font-integral-heavy;
        margin: 0;
        color: $light-color;
        line-height: 45px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    &__input{
        padding: 15px 16px;
        background-color: $light-color;
        border-radius: 62px;
        width: 317px;
        display: flex;
    align-items: center;
    gap: 12px;
        &-field{
            border: 0;
            
        }
        &-field::placeholder{
            font-family: $font-satoshi;
            padding: 0;
            font-size: 16px;
            opacity: 40%;
    }
    }
    &__button{
        padding: 12px 16px;
        background-color: $light-color;
        border-radius: 62px;
        text-align: center;
        align-items: center;
        font-family: $font-satoshi;
        font-size: 16px;
        color: $light-color;
        a:hover{
            color: $light-color;
        }
        &:hover{
            background-color: $dark-color;
            color: $light-color;
            border: 1px solid $light-color;
            transform: scale(1.05);
            transition: 0.3s;
        }
    }
}

