/* ====== max-width: 1437px ====== */
@media (max-width:1437px){
  .footer{
    &__nav{
      flex-direction: column;
      justify-content: space-between;
      &-main{ text-align: center; }
      &-social{ justify-content: center; }
    }
  }
}

/* ====== max-width: 1288px ====== */
@media (max-width:1288px){
  .header{
    &__burger{ display: block; }
    &__nav{
      position: absolute;
      top: 100%; left: 0; right: 0;
      background-color: white;
      flex-direction: column;
      gap: 16px;
      padding: 20px;
      display: none;
      &:active{ display: flex; }
    }
  }
  .product{
    &__breadcrumb{ padding-left: 24px; }
  }
}

/* ====== max-width: 1284px ====== */
@media (max-width:1284px){
  .hero{
    &__content{ padding: 84px 0 116px 24px; }
    &__statistic{ flex-wrap: wrap; padding-right: 650px; }
  }
  .brands{
    &__list{
      padding: 44px 24px 35px;
      gap: 21px;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}

/* ====== max-width: 1245px ====== */
@media (max-width:1245px){
  .product{
    &__info{ flex-direction: column; padding: 0 24px; }
    &__visual{ justify-items: center; }
  }
  .more{
    &__list{ grid-template-columns: repeat(3,1fr); }
    &__func{ padding: 24px; }
  }
}

/* ====== max-width: 1240px ====== */
@media (max-width:1240px){
  .hero{
    &__content{ padding: 84px 16px 0; justify-items: center; }
    &__statistic{ padding-right: 0; }
    &__imgTitul{
      max-width: 100%; height: auto; display: block;
      img{ max-width: 100%; }
    }
  }
  .hero>.container{
    background-color: $bg-accent-color;
    background-image: none;
  }
  .arrivals__catalog,
  .top__catalog,
  .arrivals__catalog--prod{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .arrivals__card,
  .top__card{
    flex: 0 0 80%;
    scroll-snap-align: start;
  }
  .view{ padding-top: 20px; }
}

/* ====== max-width: 1210px ====== */
@media (max-width:1210px){
  .footer{
    &__nav{
      gap: 85.5px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__logo{ padding-top: 20px; }
  }
}

/* ====== max-width: 1024px ====== */
@media (max-width:1024px){
  .feedback{
    &__head{ flex-direction: column; gap: 20px; align-items: center; }
    &__title{ text-align: center; }
  }
  .subscribe{
    &__content{ flex-direction: column; gap: 30px; margin:-140px 24px; }
    &__title{ text-align: center; }
  }
}

/* ====== max-width: 990px ====== */
@media (max-width:990px){
  .header{
    &__search{
      display: none;
      &-icon{ &--invis{ display: block; } }
    }
  }
}

/* ====== max-width: 980px ====== */
@media (max-width:980px){
  .style{
    &__cards{
      grid-template-areas:
        "casual" "formal" "party" "gym";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 240px);
    }
  }
}
@media (max-width:980px){
  .style{
    &__cards{ grid-template-rows: repeat(4, 200px); }
  }
}

/* ====== max-width: 768px ====== */
@media (max-width:768px){
  .hero{
    &__title{
      display: none;
      &--two{ display: block; text-align: center; font-size: 52px; }
    }
    &__description{ text-align: center; padding: 0 16px; }
    &__button{ &-wrap{ padding-bottom: 0; } }
  }
  .arrivals__img, .top__img{ max-width: 270px; }
  .feedback{
    &__content{ padding: 50px 50px 166px; }
    &__title{ font-size: 40px; }
  }
  .subscribe{ &__title{ font-size: 28px; } }
  .footer{ &__info{ flex-wrap: wrap; gap: 10px; } }
  .top{ &__title{ padding-top: 40px; } }
}

/* ====== max-width: 660px ====== */
@media (max-width:660px){
  .product{
    &__visual{
      display: grid;
      grid-template-areas:
        "maxx maxx maxx"
        "maxx maxx maxx"
        "minf mins mint";
      grid-template-columns: repeat(3, 142px);
      grid-template-rows: repeat(2, 257px);
      gap: 14px;
      justify-content: center;
      align-items: center;
    }
  }
}

/* ====== max-width: 650px ====== */
@media (max-width:650px){
  .subscribe{
    &__content{ padding: 34px 32px; }
    &__title{ font-size: 22px; }
    &__input{ max-width: 220px; }
  }
}
@media (max-width:650px){
  .subscribe{ &__input{ max-width: 200px; } }
}

/* ====== max-width: 632px ====== */
@media (max-width:632px){
  .hero{
    &__statistic{ justify-content: center; }
    &__stat{ &--bordered{ border-right: none; } }
  }
}

/* ====== max-width: 630px ====== */
@media (max-width:630px){
  .header{ &__discount{ &-cross{ display: none; } } }
  .view{ &__btn{ padding: 15px 50px; font-size: 14px; } }
  .arrivals{ &__title{ font-size: 38px; } }
  .top{ &__title{ font-size: 38px; } }
  .style{
    &__title{ font-size: 38px; padding-bottom: 32px; }
    &__content{ padding: 40px 24px; }
  }
  .product{ &__cart{ &-btn{ padding: 15px 100px; } } }
}

/* ====== max-width: 610px ====== */
@media (max-width:610px){
  .footer{
    &__content{ padding: 140px 24px 80px; }
    &__list{ gap: 60px; }
    &__nav{
      &-point{
        font-size: 14px;
        &--last{ padding-left: 0; }
      }
    }
  }
}

/* ====== max-width: 600px ====== */
@media (max-width:600px){
  .more{
    &__request{ grid-template-columns: 1fr; }
    &__btn{ &-date{ display: none; } }
    &__point{ font-size: 16px; }
  }
}

/* ====== max-width: 517px ====== */
@media (max-width:517px){
  .product{
    &__cart{ &-btn{ padding: 15px 50px; } }
    &__btns{
      flex-wrap: wrap;
      &-item{ font-size: 12px; }
    }
  }
}

/* ====== max-width: 500px ====== */
/* ====== max-width: 500px ====== */
@media (max-width:500px){
  .hero{ &__title{ &--two{ font-size: 34px; line-height: 45px; } } }
}

/* ====== max-width: 464px ====== */
@media (max-width:464px){
  .product{
    &__visual{
      grid-template-rows: repeat(2, 204px);
      grid-template-columns: repeat(3, 112px);
      gap: 0;
    }
    &__pic{ &-thumb{ max-width: 80%; } }
    #product__pic--displayed{
      max-width: 93%;
      max-height: 80%;
    }
  }
}

/* ====== max-width: 428px ====== */
@media (max-width:428px){
  .hero{
    &__stat{
      &--bordered{
        border-right: none;
        border-left: none;
      }
    }
  }
}

/* ====== max-width: 425px ====== */
@media (max-width:425px){
  .header{
    &__logo{ &-text{ font-size: 25px; } }
  }
  .arrivals__img, .top__img{ max-width: 200px; }
  .arrivals{
    &__name{ font-size: 16px; }
    &__price{ &-value{ font-size: 20px; } }
  }
}

/* ====== max-width: 420px ====== */
@media (max-width:420px){
  .product{
    &__quantity{ gap: 15px; }
    &__cart{ &-btn{ padding: 15px 30px; font-size: 11px; } }
  }
  .more{
    &__func{ padding: 16px; }
    &__btn{
      gap: 5px;
      &-write{ padding: 12px 20px; font-size: 11px; }
      &-filter{ padding: 10px 11px; }
    }
  }
}

/* ====== max-width: 375px ====== */
@media (max-width:375px){
  .header{
    &__content{ gap: 20px; }
    &__logo{ &-text{ font-size: 20px; } }
    &__discount{ &-text{ font-size: 10px; } }
  }
  .feedback{ &__title{ font-size: 32px; } }
  .subscribe{
    &__content{ padding: 34px 20px; }
    &__title{ font-size: 20px; line-height: 25px; }
  }
  .style{
    &__title{ font-size: 32px; padding-bottom: 32px; }
    &__content{ padding: 40px 16px; }
  }
  .footer{
    &__nav{ &-point{ font-size: 12px; } }
    &__content{ padding-bottom: 40px; }
  }
}
