@import 'variables';

.style{
    max-width: 1240px;
    margin: 0 auto;

    &__content{
        padding: 70px 64px 77px;    
        background-color: $bg-accent-color;
        text-align: center;
        border-radius: 40px;
    }
    &__title{
        font-family: $font-integral-heavy;
        font-size: 48px;
        margin: 0;
        padding-bottom: 67px;
    }
    &__cards{
        display: grid;
        grid-template-areas: 
        "casual formal formal"
        "party party gym";
            grid-template-columns: minmax(407px, 1fr) 1fr minmax(407px, 1fr);
        grid-template-rows: repeat(2, 289px);
        gap: 20px;
    }
    &__name{
        margin: 0;
        font-size: 36px;
        font-family: $font-satoshi;
    }
    &__card{
        padding: 25px 0 0 36px;
        text-align: left;
        border-radius: 20px;
        &:hover{
            transform: scale(1.05);
            transition: 0.3s;
        }
        &-casual{
        background-image: url("../img/casual.png"); 
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: casual;
        }
        &-formal{
        background-image: url("../img/formal.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: formal;
        }
        &-party{
        background-image: url("../img/party.png"); 
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: party;
        }
        &-gym{
        background-image: url("../img/gym.png"); 
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: gym;
        }
    }
}
@media (max-width:980px){
    .style{
        &__cards{
            grid-template-areas:
        "casual" 
        "formal"
        "party"
        "gym";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 240px);
        }
    }
}
@media (max-width:980px){
    .style{
        &__cards{
     grid-template-rows: repeat(4, 200px);
           
        }
    }
}
@media(max-width:630px){
  .style{
    &__title{
        font-size: 38px;
        padding-bottom: 32px;
    }
    &__content{
        padding: 40px 24px;
    }
}
}
@media(max-width:375px){
  .style{
    &__title{
        font-size: 32px;
        padding-bottom: 32px;
    }
    &__content{
        padding: 40px 16px;
    }
}
}