$dark-color: #000000;
$dark-color-op: rgba(0, 0, 0, 0.1);
$light-color: #ffffff;
$disc-color-op: rgb( 255, 51, 51, 0.1);
$disc-color:#ff3333;
$bg-accent-color: #f0f0f0;
$font-satoshi: 'Satoshi', sans-serif;
$font-integral:"Integral CF Regular";
$font-integral-heavy:"Integral CF Bold"; 