
       @font-face {
    font-family: "Integral CF Heavy";
    src: url("https://db.onlinewebfonts.com/t/10dcc6285528260041a4ac3b9809fc77.eot");
    src: url("https://db.onlinewebfonts.com/t/10dcc6285528260041a4ac3b9809fc77.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/10dcc6285528260041a4ac3b9809fc77.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/10dcc6285528260041a4ac3b9809fc77.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/10dcc6285528260041a4ac3b9809fc77.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/10dcc6285528260041a4ac3b9809fc77.svg#Integral CF Heavy")format("svg");
}
@import 'variables';
@import 'base';
@import 'header';
@import 'product';
@import 'more';
@import 'catalog';
@import 'feedback';
@import 'form';
@import 'footer';
@import 'media';