@font-face {
	font-family: 'IntegralCF-Regular';
	src: url('../fonts/integralcf-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/integralcf-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/integralcf-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/integralcf-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/integralcf-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/integralcf-regular.svg#integralcf-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}